le* {
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
}

.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
    clear: both;
}

.backGround{
background-size: cover;
background-color: #A2CD5A;
height: 937px;
width: 100%;
}
body{
  padding: 0px;
  margin: 0px;
}
/*button section*/

#submit{
  padding: 35px;
  text-align: center;
}

#previous{
  border-radius: 5px;
  height: 30px;
  width: 10%;
  background-color: #A52A2A;
  border-color: #A52A2A;
  color: white;
  font-family: 'Fjalla One', sans-serif;
  outline: none;
  position: relative;
  top: 0px;
  transition: all ease 0.3s;
}

#previous:active{
  box-shadow: 0 3px 0 #CD5555;
  top: 3px;
}

#next{
  border-radius: 5px;
  height: 30px;
  width: 10%;
  background-color: #A52A2A;
  border-color: #A52A2A;
  color: white;
  font-family: 'Fjalla One', sans-serif;
  outline: none;
  position: relative;
  top: 0px;
  transition: all ease 0.3s;
}

#next:active{
  box-shadow: 0 3px 0 #CD5555;
  top: 3px;
}
/*end of button section*/

#image{
  width: 50%;
  height: 450px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  -webkit-box-shadow: 0px 25px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 25px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 25px 5px 0px rgba(0,0,0,0.75);
}
